._lyrics_entry_create {
  font-size: 120.25%;
  font-weight: 100;
  background-color: rgb(17, 17, 17);
  color:lightskyblue;
  padding: 2rem 4rem;
  width: 700px;
  height: 400px;
 display:inline-flex;
}
 p{
  color:lightskyblue;
 }
 @media (max-width: 56.25em){
  html{
      font-size: 56.25%;
      line-height: 1.15;
      
  }
  ._lyrics_entry_create{
   width: 300px;
   height: 500px;
   font-size: 140.25%;
   transition: all .4s ease-in-out;
  animation: 0.4s ease-in-out fadeIn 1;
  }
}
