.title_header {
  color: rgb(0, 90, 173);
  margin-top: 5px;
  text-align: center;
  height: 30px;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.nav_header .ul_header .li_header {
  color: rgb(0, 90, 173);
  border-radius: 20px;
  padding: 5px 5px;
  margin-right: 10px;
  margin: 0 10px 0 0;
  font-family: 'Kite One', sans-serif;
  text-align: center;
}

.li_header {
  border-right: 2px solid white;
  font-size: 10px;
}

.nav_header .ul_header .li_header_ {
  color: rgb(0, 90, 173);
  border-radius: 20px;
  padding: 5px 5px;
  margin-right: 10px;
  margin: 0 10px 0 0;
  font-family: 'Kite One', sans-serif;
  text-align: center;
}

.li_header_ {
  border-right: 2px solid white;
  font-size: 10px;
}

nav ul li:last-child {
  margin-right: 0;
}

a {
  color: rgb(0, 90, 173);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

@media only screen and (min-width: 56.25em) {
  .nav_header .ul_header .li_header {
    color: rgb(0, 90, 173);
    border-radius: 20px;
    border-right: 1px solid white;
    padding: 5px 5px;
    margin-right: 10px;
    margin: 0 10px 0 0;
    font-family: 'Kite One', sans-serif;
    font-size: 14px;
    text-align: center;
  }
  .nav_header .ul_header .li_header_ {
    color: rgb(0, 90, 173);
    border-radius: 20px;
    padding: 5px 5px;
    margin-right: 10px;
    margin: 0 10px 0 0;
    font-family: 'Kite One', sans-serif;
    font-size: 14px;
    text-align: center;
  }
}