.Landing-Page {
    height: 100%;
    background-attachment: fixed;
}

article {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    color: rgb(0, 90, 173);
    border: solid 2px rgb(0, 90, 173);
    border-radius: 10px;
    display: inline-flex;
}

@media only screen and (min-width: 56.25em) {
    html {
        font-size: 100%;
        line-height: 1.15;
    }
    article {
        font-size: 20px;
        margin-top: 10px;
        text-align: center;
        color: rgb(0, 90, 173);
        border: solid 2px rgb(0, 90, 173);
        border-radius: 10px;
        display: inline-flex;
    }
}