.lyrics_list {
    
    margin-top: 10px;
    animation-delay: .9s;
}

.lyrics {
    /* background:linear-gradient(to bottom, rgb(85, 161, 211) 0, rgb(0, 3, 7)); */
    background:linear-gradient(to bottom, rgb(17, 17, 17) 0, rgb(0, 3, 7));
    /* color: #eee; */
    color:lightskyblue;
    cursor: pointer;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    padding: 1.5rem 2rem;
}
.lyrics_title {
    font-weight: 600;
}
.lyrics-mood {
    font-size:large;
    font-weight: 100;
}
.lyrics-creator {
    font-size: large;
    font-weight: 100;
}
.lyrics-rank {
    font-size: large;
    font-weight: 100;
}
.lyrics-genre {
    font-size: large;
    font-weight: 100;
}
.lyrics-viewer {
    font-size: large;
    font-weight: 100;
}
.lyrics_entry {
    font-size: large;
    font-weight: 100;
}
.lyrics_header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.lyrics_info-container>div {
    width: 15rem;
}
.lyrics_info-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 57rem;
}
.lyrics_entry {
    padding: 2rem 4rem;
    display:inline-flex;
}
.lyrics_info-box{
    font-size:large;
    font-weight: 100;
}
.rate{
    display: inline-flex;
}
/* div{
    display:block;
} */