.demoPg{
    color:rgb(0, 90, 173);
    align-items: center;
    display:flex;
    justify-content: space-between;
    width: 90%;
}
.artist_name{
    color:rgb(0, 90, 173);
    font-size: 25px;
    font-weight: 500;
}
.dashboard_Item {
    font-size: 20px;
    font-weight: 300;
}
.dashboardItem {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    width:6rem;
    box-sizing: border-box;
}
.artist_name{
    font-size: 20px;
    font-weight: 680;
}
.dashboardItem_artist {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    display: block;
    box-sizing: border-box;
}

@media (max-width: 56.25em){
.demoPg{
    color:rgb(0, 90, 173);
    align-items: center;
    display:flex;
    justify-content: space-between;
    width: 90%;
}
.dashboard_Item {
    font-size: 13px;
    font-weight: 200;
}
.dashboardItem{
    font-size: 11px;
    font-weight: 300;
    width:5rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.artist_name{
    color:rgb(0, 90, 173);
    font-size: 15px;
    font-weight: 200;
}
.dashboardItem_artist {
    margin-top: 10px;
    display: block;
    box-sizing: border-box;
}

*,:after,:before{
   margin: 2px;
   padding: 0;
   box-sizing: border-box;
}
}