.demoPg{
    color:rgb(0, 90, 173);
    align-items: center;
    display:flex;
    justify-content: space-between;
    width: 90%;
   
}
.artist_name{
    color:rgb(0, 90, 173);
}
.dashboardItem {
    margin-top: 10px;
    font-size: 135.25%;
    font-weight: 600;
    display: block;
    width:6rem;
    box-sizing: border-box;
}

.dashboardItem_artist {
    margin-top: 10px;
    font-size: 135.25%;
    font-weight: 500;
    display: block;
    box-sizing: border-box;
}

@media (max-width: 56.25em){

html{
    font-size: 56.25%;
    line-height: 1.15;
}
    
.demoPg{
    color:rgb(0, 90, 173);
    align-items: center;
    display:flex;
    justify-content: space-between;
    width: 90%;
}

.dashboardItem{
    font-size: small;
    width:10rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.dashboardItem_artist {
    margin-top: 10px;
    font-size: small;
    font-weight: 600;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
    justify-content: space-between;
    width: 20rem;
}

*,:after,:before{
   margin: 2px;
   padding: 0;
   box-sizing: border-box;
}
}