.demoPg {
    color: rgb(0, 90, 173);
}

.artist_name {
    color: rgb(0, 90, 173);
    font-size: 25px;
    font-weight: 500;
}

.dashboard_Item {
    font-size: 20px;
    font-weight: 300;
}

.dashboardItem {
    margin-top: 10px;
    margin-left: 600px;
    font-size: 18px;
    font-weight: 600;
    display: block;
    width:20%;
    border: 1px solid rgb(0, 90, 173);
    border-radius: 80px 80px 80px 80px;
}

.artist_name {
    font-size: 20px;
    font-weight: 680;
}

.dashboardItem_artist {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    display: block;
    box-sizing: border-box;
}

@media (max-width: 56.25em) {
    .demoPg {
        color: rgb(0, 90, 173);
    }
    .dashboard_Item {
        font-size: 15px;
        font-weight: 250;
    }
    .dashboardItem {
        margin-top: 10px;
        margin-left: 600px;
        font-size: 18px;
        font-weight: 600;
        display: block;
        width:20%;
        border: 1px solid rgb(0, 90, 173);
        border-radius: 80px 80px 80px 80px;
    }
    .dashboardItem {
        margin-top: 10px;
        font-size: 15px;
        font-weight: 300;
        display: block;
        width:50%;
        border: 1px solid rgb(0, 90, 173);
        border-radius: 80px 80px 80px 80px;
        margin-block-start: 1em;
        margin-block-end: 5em;
        margin-inline-start: 80px;
        margin-inline-end: 0px;
    }
    .artist_name {
        color: rgb(0, 90, 173);
        font-size: 15px;
        font-weight: 200;
    }
    .dashboardItem_artist {
        margin-top: 10px;
        display: block;
        box-sizing: border-box;
    }
    *, :after, :before {
        margin: 2px;
        padding: 0;
        box-sizing: border-box;
    }
}