.App_nav{
    background:linear-gradient(to bottom right,#5f5f5f 0,#060606);
    box-shadow: 0 1px 5px lightskyblue;
}
html{
    background:linear-gradient(to bottom right,#161616 0,#060606);
    height: 100%;
    background-attachment: fixed;
}
.App_main{
    display: inline;
    background:linear-gradient(to bottom right,#161616 0,#060606);
    text-align: center;
}