.App_Nav {
    background: linear-gradient(to bottom, rgb(17, 17, 17) 0, rgb(0, 3, 7));
    box-shadow: 0 1px 5px rgb(0, 90, 173);
}

html {
    background: black;
    height: 100%;
    background-attachment: fixed;
}

.App_main {
    display: inline;
    background: black;
    text-align: center;
}