.Btn{
    margin-top: 10px;
    text-align: center;
}
.NavBtn{
    background:linear-gradient(to bottom,#161616 0,#060606);
    border-radius: 80px;
    border:0;
    color:lightskyblue;
    display: inline;
    font-size:12px;
    font-weight: bold;
    padding: 8px;
    text-decoration: none;
    
}
.NavBtn:hover{
    cursor: pointer;
}