#signup-header{
    color:#FFC857;
}
#email{
    text-align: right;
    color:#FFC857;
    margin-top: 10px;
} 
#name{
    text-align: right;
    color:#FFC857;
    margin-top: 10px;
} 

#password-confirm{
    text-align: right;
    color:#FFC857;
    margin-top: 10px;
}
.NavBtn_blue{
    margin-top: 10px;
}
.error{
    color: red;
}